body {
    font-family: "Open Sans Condensed";
    padding: 20px 60px;
}

a{
    text-decoration: none;
    color: #000000;
}

*{
    box-sizing: border-box;
}

.comp-fade-in {
    opacity: 0;
}
.comp-fade-in.visible {
    transition: opacity 1s ease-in;
    opacity: 1;
}